@import "tailwindcss";

@theme {
    --width-lg-container: 1320px;
    --width-md-container: 1120px;
    --width-sm-container: 960px;
    --width-xs-container: 720px;
    --color-background: #fdf5ed;
    --color-primary: #0d6efd;
    --color-secondary: #e51f40;
    --color-background-input: #f3f6f7;
    --color-success: #068906;
    --color-borderColor: #c4c8cb;
    --color-text: #212529;
    --color-redColor: #E51F40;
    --color-primary: #1266dd;
    --color-price: #068906;
    --color-yellow: #FFCE3F;
    --color-subtitle: #adb5bd;
    --color-subBg: #f8f9fa;
    --color-blue: #003b95;
    --color-gray: #f4f4f4;
    --color-secondaryText: #6c757d;
    --color-lightBlue: #e7f0fe;
    --color-overlay: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: var(--width-lg-container);
    margin: 0 auto;
    max-width: 100%;
}